.nav {
 font-size: 20px;
 font-family: sans-serif;
 margin-left: 40px;

}

.navbar{
  min-height: 62px;
  padding-top: 5px;
}

.navbar-brand {
 font-size: 30px;
}

.navbar-nav {
  color: red;
}

.navbar-inverse .navbar-header .navbar-brand {
  padding: 5px 15px;
}

.navbar-inverse, .navbarContain {
 background-color: #133D74 ;
 border-color: #133D74 ;
}

.navbar.navbar-inverse .navbar-nav>li>a{
  color: white;
  transition: color 0.5s ease;
}

.navbar.navbar-inverse .navbar-nav>li>a:hover{
  color: yellow;
}

.nav > li > .navbar-profile {
 padding-top: 0;
 padding-bottom: 0;
 /*color: white;*/
}
.navbar-nav.navbar-right, .navbar-nav.navbar-right:last-child {
 margin-right: 0;
 font-size: 20px;
 color: white;
}

.challenge-list-details, .challenge-participant-list{
  display: inline-block;
}

.challenge-participant-list {
 width: 25%;
}
.challenge-participant-list a {
 text-decoration: none;
}
.challenge-participant-list img {
 height: 20px;
}
.fade {
 opacity: 0.5;
}

.challenge-title {


}

challenge-table table{
  margin-top: 30px;
}

.challenge-details .challenge-creator {
 width: 120px;
}
.challenge-details .challenge-creator img {
 height: 40px;
}

.challenge-title .glyphicon-off {
 vertical-align: text-top;

}

.challenge-participants-item img {
 height: 50px;
}
.challenge-participants-item span {
 font-size: 2em;
 cursor: pointer;
 vertical-align: middle;
}

.challenge-comment-container {
  margin-top: 25px;
  padding-left: 0;
}
.challenge-comment-list {
  margin-bottom: 25px;
  vertical-align: middle;
}
.challenge-comment-item {
  min-height: 40px;
}
.challenge-comment-text-container {
  padding-left: 2px;
  padding-top: 9px;
}
.challenge-comment-text {
  vertical-align: middle;
}
.challenge-comment-date  {
  margin: 0;
  vertical-align: middle;
}
.challenge-comment-profile {
  padding-left: 0;
  border-right: 1px solid grey;
}
.challenge-comment-profile img {
  height: 40px;
}

.participants {
 background-color: #001f3f ;
 max-width: 50%;
 border-bottom: solid 1px;
 color: white;
}

.participants:hover {
 background-color: #0099CC ;
}

.fb {
 margin-left: 35%;
 height: 70px;
 margin-top: 10%;
}

.addPart {
 margin-top: 15px;
}

label {
 font-size: 18px;
}

.createForm .input-field label.active{
  color:#26a69a;
}

.createForm {
 width: 75%;
 border-style: solid;
 border-width: 3px;
 border-radius: 20px;
 padding: 15px;
 background-color: #E8E8E8 ;
 margin: 0 auto;
}

.createFormTitle {
 margin-bottom: 10px;
 text-align: center;
 font-size: 30px;
  font-weight: 500;
}

.center-block {
 width: 800px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 30px;
 display: block;
}

.challengeTitle {
  font-size: 25px;
  color: black;
}

.userChallenges caption{
  font-size: 25px;
  text-decoration: underline;
}